.page-transition {
  margin-bottom: 20px;
  text-align: center;
}

.edit-button,
.back-button {
  display: inline-block;
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #28a745; /* 編集するボタンの色を変更 */
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* 色の変化をスムーズにする */
}

.edit-button:hover,
.back-button:hover {
  background-color: #007bff; /* ホバー時の色を変更 */
}

.back-button {
  background-color: #dc3545; /* Homeに戻るボタンの色を変更 */
}

.back-button:hover {
  background-color: #c82333; /* ホバー時の色を変更 */
}

.book-detail {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-detail-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.book-detail-reviewer,
.book-detail-review {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #555;
}

.book-detail-url {
  display: block;
  word-break: break-all;
  color: #1a0dab;
  text-decoration: none;
  margin-bottom: 10px;
}

.book-detail-url:hover {
  text-decoration: underline;
}

.loading,
.no-book-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5em;
  color: #333;
}
