/* signup.css */

/* サインアップコンテナのスタイル */
.signup {
  margin-top: 80px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* タイトルのスタイル */
.signup h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

/* 入力フィールドのコンテナスタイル */
.input {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 400px;
}

/* ラベルのスタイル */
label {
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

/* 入力フィールドのスタイル */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

/* ファイル選択ボタンのスタイル */
input[type="file"] {
  margin-top: 5px;
}

/* アップロード中のボタンのスタイル */
.signup-button {
  font-weight: bold;
  width: 120px;
  padding: 10px;
  border: 1px solid #27acd9;
  color: #27acd9;
  background: none;
  margin: 20px 0;
  border-radius: 4px;
  transition: background 0.5s, color 0.5s;
}

.signup-button:hover {
  cursor: pointer;
  color: #fff;
  background: #27acd9;
}

/* ログインへのリンクのスタイル */
.link-login {
  margin: 30px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.link-login:hover {
  text-decoration: underline;
}
